Official Blocknet {{ walletDockerName }} Images
=================================

These {{ walletDockerName }} docker images can be found on the docker hub: https://hub.docker.com/r/blocknetdx/{{ walletDockerName }}/

{{ walletDockerName }}
========

These {{ walletDockerName }} images are optimized for use with the Blocknet DX.

**Note**

These images are _not a replacement or endorsement_ of the {{ walletDockerName }} project ({{ walletGitURL }}).


Simple
======

Run a simple {{ walletDockerName }} node on port {{ walletPort }}:
```
docker run -d --name={{ walletDockerName }} -p {{ walletPort }}:{{ walletPort }} blocknetdx/{{ walletDockerName }}:{{ walletVersion }}
```


Persist blockchain w/ volumes
=============================

Run a {{ walletDockerName }} node that persists the blockchain on a host directory. Recommended to avoid time consuming resyncs when updating to later container versions.
```
docker run -d --name={{ walletDockerName }} -p {{ walletPort }}:{{ walletPort }} -v=/crypto/{{ walletDockerName }}/config:/opt/blockchain/config -v=/crypto/{{ walletDockerName }}/data:/opt/blockchain/data blocknetdx/{{ walletDockerName }}:{{ walletVersion }}
```


Automatically restart the container
===================================

See https://docs.docker.com/engine/admin/start-containers-automatically/

`--restart=no|on-failure:retrycount|unless-stopped|always`

```
docker run -d --restart=no --name={{ walletDockerName }} -p {{ walletPort }}:{{ walletPort }} blocknetdx/{{ walletDockerName }}:{{ walletVersion }} {{ walletDaemon }} -daemon=0 -rpcuser={{ walletTicker }} -rpcpassword={{ walletTicker }}123
docker run -d --restart=on-failure:10 --name={{ walletDockerName }} -p {{ walletPort }}:{{ walletPort }} blocknetdx/{{ walletDockerName }}:{{ walletVersion }} {{ walletDaemon }} -daemon=0 -rpcuser={{ walletTicker }} -rpcpassword={{ walletTicker }}123
docker run -d --restart=unless-stopped --name={{ walletDockerName }} -p {{ walletPort }}:{{ walletPort }} blocknetdx/{{ walletDockerName }}:{{ walletVersion }} {{ walletDaemon }} -daemon=0 -rpcuser={{ walletTicker }} -rpcpassword={{ walletTicker }}123
docker run -d --restart=always --name={{ walletDockerName }} -p {{ walletPort }}:{{ walletPort }} blocknetdx/{{ walletDockerName }}:{{ walletVersion }} {{ walletDaemon }} -daemon=0 -rpcuser={{ walletTicker }} -rpcpassword={{ walletTicker }}123
```


Container shell access
======================

To login to the {{ walletDockerName }} container and run RPC commands use the following command:
```
docker exec -it {{ walletDockerName }} /bin/bash
```


Default {{ walletConfName }}
=====================

The default configuration is below. A custom configuration file can be passed to the {{ walletDockerName }}  node container through the `/opt/blockchain/config` volume. Some of these parameters can also be adjusted on the command line.
```
datadir=/opt/blockchain/data

dbcache=256
maxmempool=512

port={{ walletPort }}
rpcport={{ walletRPCPort }}

listen=1
txindex=1
server=1
maxconnections=16
logtimestamps=1
logips=1

rpcallowip=127.0.0.1
rpcwaittimeout=30
rpcclienttimeout=30
```


License
=======

This code is licensed under the Apache 2.0 License. Please refer to the [LICENSE](https://github.com/BlocknetDX/dockerimages/blob/master/LICENSE).
